{% extends "base.html" %}

{% block info %}
{% endblock %}

{% block content  %}
<div class="container m-5">
    <h2>Создайте чат-комнату:</h2><br>
    <input id="room-name-input" type="text" size="100">
    <input id="room-name-submit" type="button" value="Enter" class="btn btn-outline-success me-2">


    <h5>Или выберете из существующих:</h5>

    <script>
        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#room-name-submit').click();
            }
        };

        document.querySelector('#room-name-submit').onclick = function(e) {
            var roomName = document.querySelector('#room-name-input').value;
            window.location.pathname = '/chat/' + roomName + '/';
        };
    </script>

    </div>
{% endblock %}

