{% include 'base.html' %}
{% block content  %}

<div class="container m-4">
    <div class="row">
            <div class="col">
                <div id="carouselExampleControls" class="carousel slide carousel-fade" data-bs-ride="carousel" style="width:1000px;">
    <div class="carousel-inner">
       <h1>Случайное:</h1>
   {% for p in post %}
     {% if forloop.first %}
                <div class="carousel-item active" data-bs-interval="10000">
            {% else %}
                <div class="carousel-item" data-bs-interval="2000">
            {% endif %}
          <img src="{{p.image.url}}" class="d-block w-100" alt="..." style="border-radius: 40px; ">
                    <div class="carousel-caption d-none d-md-block">
        <h5>{{p.title| safe}}</h5>
        <p>{{p.text| safe}}</p>
      </div>
        </div>
      {% endfor %}
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>

    <div class="col">

        <div class="card">
            <div class="card-header">
                <h5>Отсортировать по:</h5>
            </div>

            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a href="{% url 'gallery' %}">Все</a>
                </li>
                {% for cat in category %}
                    <li class=" list-group-item">
                        <a href="{% url 'gallery' %}?category={{cat.name}}">
                            {{cat.name}}
                        </a>
                    </li>
                {% endfor %}

                </ul>
            </div>
        </div>

    <div class="container m-5">

         <h1>Свежее:</h1>
        <div class="row">
    {% for p in last_posts %}
            <div class="col">
                <div class="card" style="width: 20rem;">
              <img src="{{p.image.url}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{p.title| safe}}</h5>
                <p class="card-text">{{p.text| safe}}</p>
                  <hr>
                  <small>Категория: {{p.category.name}}</small>
                  <p class="card-text">Автор: {{p.author | safe}}</p>
                   <strong class="text-secondary">{{ p.number_of_likes }} Like{{ p.number_of_likes|pluralize }}</strong>
                <a href="{% url 'detail' p.id %}" class="btn btn-primary">Посмотреть</a>
              </div>
            </div>
        </div>
            {% endfor %}
        </div>
        </div>
    <hr>
       <div class="container m-5">
         <h1>Популярное:</h1>
        <div class="row">
    {% for p in popular %}
            <div class="col">
                <div class="card" style="width: 20rem;">
              <img src="{{p.image.url}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{p.title| safe}}</h5>
                <p class="card-text">{{p.text| safe}}</p>
                  <p class="card-text">Автор: {{p.author | safe}}</p>
                   <strong class="text-secondary">{{ p.number_of_likes }} Like{{ p.number_of_likes|pluralize }}</strong>
                <a href="{% url 'detail' p.id %}" class="btn btn-primary">Посмотреть</a>
              </div>
            </div>
        </div>
            {% endfor %}
        </div>
        </div>

            </div>
        </div>


       <hr>
       <div class="container m-5">
         <h1>Все и сразу:</h1>
             <div class="row">
    {% for p in post %}
                    <div class="col">
                <div class="card m-3" style="width: 25rem;">

              <img src="{{p.image.url}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{p.title| safe}}</h5>
                <p class="card-text">{{p.text| safe}}</p>
                  <p class="card-text">Автор: {{p.author | safe}}</p>
                   <strong class="text-secondary">{{ p.number_of_likes }} Like{{ p.number_of_likes|pluralize }}</strong>
                <a href="{% url 'detail' p.id %}" class="btn btn-primary">Посмотреть</a>
              </div>
            </div>
               </div>

            {% endfor %}
        </div>
       </div>

        </div>

            </div>

        </div>
    </div>




{% endblock %}

