{% include 'base.html' %}
{% block content  %}

<div class="container m-4">
    <div class="row">
            <div class="col">
                <div id="carouselExampleControls" class="carousel slide carousel-fade" data-bs-ride="carousel" style="width:1000px;">
    <div class="carousel-inner">
       <h1>Случайное:</h1>
   {% for p in post %}
     {% if forloop.first %}
                <div class="carousel-item active" data-bs-interval="10000">
            {% else %}
                <div class="carousel-item" data-bs-interval="2000">
            {% endif %}
          <img src="{{p.image.url}}" class="d-block w-100" alt="..." style="border-radius: 40px; ">
                    <div class="carousel-caption d-none d-md-block">
        <h5>{{p.title| safe}}</h5>
        <p>{{p.text| safe}}</p>
      </div>
        </div>
      {% endfor %}
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>



    <div class="col">

        <div class="card">
            <div class="card-header">
                <h5>Отсортировать по:</h5>
            </div>

            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a href="{% url 'gallery' %}">Все</a>
                </li>
                {% for cat in category %}
                    <li class=" list-group-item">
                        <a href="{% url 'gallery' %}?category={{cat.name}}">
                            {{cat.name}}
                        </a>
                    </li>
                {% endfor %}

                </ul>
            </div>
        </div>


                <div class="accordion m-4" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
       <h3>Свежее</h3>
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
                <div class="row">
    {% for p in last_posts %}
            <div class="col">
                <div class="card" style="width: 20rem;">
              <img src="{{p.image.url}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{p.title| safe}}</h5>
                <p class="card-text">{{p.text| safe}}</p>
                  <hr>
                  <small>Категория: {{p.category.name}}</small>
                  <p class="card-text">Автор: <a href="">{{p.author | safe}}</a></p>
                   <strong class="text-secondary">{{ p.number_of_likes }} Like{{ p.number_of_likes|pluralize }}</strong>
                <a href="{% url 'detail' p.id %}" class="btn btn-primary">Посмотреть</a>
              </div>
            </div>
        </div>
            {% endfor %}
        </div>
      </div>
    </div>

  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        <h3>Популярное:</h3>
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
             <div class="row">
    {% for p in popular %}
            <div class="col">
                <div class="card" style="width: 20rem;">
              <img src="{{p.image.url}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{p.title| safe}}</h5>
                <p class="card-text">{{p.text| safe}}</p>
                  <p class="card-text">Автор: <a href="">{{p.author | safe}}</a></p>
                   <strong class="text-secondary">{{ p.number_of_likes }} Like{{ p.number_of_likes|pluralize }}</strong>
                <a href="{% url 'detail' p.id %}" class="btn btn-primary">Посмотреть</a>
              </div>
            </div>
        </div>
            {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        <h3>Все-все:</h3>
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
                      <div class="row">
    {% for p in post %}
                    <div class="col">
                <div class="card m-3" style="width: 25rem;">

              <img src="{{p.image.url}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{p.title| safe}}</h5>
                <p class="card-text">{{p.text| safe}}</p>
                  <p class="card-text">Автор: <a href="">{{p.author | safe}}</a></p>
                   <strong class="text-secondary">{{ p.number_of_likes }} Like{{ p.number_of_likes|pluralize }}</strong>
                <a href="{% url 'detail' p.id %}" class="btn btn-primary">Посмотреть</a>
              </div>
            </div>
               </div>
            {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>




        </div>

            </div>

        </div>
    </div>




{% endblock %}

