{% extends "base.html" %}

{% block info %}
{% endblock %}

{% block content %}



<h3 class="m-5">Кол-во пользователей: {{profiles.count}}</h3>
{% for p in profiles %}

    <div class="container m-5">

        <h3>
            <img src="{{p.avatar.url}}" alt="" width="30" height="30" style="border-radius:50%;">
            <a href="{% url 'user_profile' p.id %}">{{p}}</a>
            <a href="{% url 'subscribe' p.id %}" class="btn btn-primary">Подписаться</a>
            <a href="" class="btn btn-primary">Публикации</a>
        </h3>
    </div>
{% endfor %}

{% endblock %}